<!DOCTYPE html>
<html lang="zh-CN" ng-app="clientSigninApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../bootstrap/css/bootstrap.min.css"rel="stylesheet">
    <link href="../stylesheets/style.min.css" rel="stylesheet">
    <link href="../stylesheets/signin.min.css" rel="stylesheet">
    <title>登陆</title>
  </head>
  <body ng-controller="SignInCtrl">
    <div class="container">
      <form class="form-signin" novalidate name="signin_form">
        <h2 class="form-signin-heading text-center">登陆</h2>
        <div class="form-group" ng-class="{'has-error': signin_form.tradeNo.$invalid && !signin_form.tradeNo.$pristine}">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="text" class="form-control" placeholder="订单编号" name="tradeNo" ng-model="tradeNo" required autofocus>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': signin_form.nickname.$invalid && !signin_form.nickname.$pristine}">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="买家昵称" name="nickname" ng-model="nickname" required>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block" type="button" ng-click="signin()">
            <span class="glyphicon glyphicon-ok"></span> 登陆
          </button>
        </div>
      </form>
    </div>
    <script src="../angular/angular.min.js"></script>
    <script src="../angular/ui-bootstrap.min.js"></script>
    <script src="../angular/ui-bootstrap-tpls.min.js"></script>
    <script src="../javascripts/client-signin.min.js"></script>
  </body>
</html>